@{
    ViewBag.Title = "HOME";
}

<div class="jumbotron">
    <h1>RoostaMan General Store</h1>

    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-5">
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
    @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-5">
        <p>
            Customer List
        </p>
    @Html.ActionLink("Customer List", "Index", "Customer", null, new { @class = "btn btn-primary btn-large"})
    </div>
    <div class="col-md-5">
        <p>
            Transaction List
        </p>
    @Html.ActionLink("Transaction List", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large"})
    </div>
</div>